@{
    Layout = null;
    ViewBag.Title = "AnswerGame";
}
<head>
    <link href="https://fonts.googleapis.com/css?family=Abel|Lobster" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link href="~/Content/NARVIGATION.css" rel="stylesheet" />
    <meta name="viewport" content="initial-scale=1.0">
    <link href="~/Content/GameCenter.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Economica' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="js/jq.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200" rel="stylesheet">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Hammersmith+One" rel="stylesheet">
    <link href="~/Content/popgame.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Merienda" rel="stylesheet">
    
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" type="text/javascript"></script>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" type="text/javascript"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>
    <link href="~/Content/Capital.css" rel="stylesheet" />

    <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' rel='stylesheet' />
    <link href="~/Content/popgame.css" rel="stylesheet" />

</head>
<body>
    <nav class="navbar navbar-default navbar-inverse" style="font-family: 'Merienda', cursive;background-color:#333">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Melbourne Myhome</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div style="width:357px; height:83px; background:url(../../Content/title.png);margin-top:2vh"></div>

            </div>
            <script src="~/Content/title.png"></script>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav " style="margin-top:24px;margin-left:64px">
                    <li><a href="~/Home/Home" style="font-size:18px"><div style="width:64px; height:64px; background:url(../../Content/homeicon.png);display:inline-block"></div><div style="display:inline-block">Home</div> <span class="sr-only">(current)</span></a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle;" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="font-size:18px"><div style="width:64px; height:64px; background:url(../../Content/learningicon.png);display:inline-block"></div><div style="display:inline-block">Learning</div> <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="~/Pop/LearningCenter" style="font-size:12px"><i class="fa fa-book" aria-hidden="true"></i>Learning Center</a></li>
                            <li><a href="~/Pop/PopOverview" style="font-size:12px"><i class="fa fa-user" aria-hidden="true"></i>Population</a></li>
                            <li><a href="~/Culture/CulOverview" style="font-size:12px"><i class="fa fa-globe" aria-hidden="true"></i>Culture</a></li>

                            <li><a href="~/Pop/Environment" style="font-size:12px"><i class="fa fa-tree" aria-hidden="true"></i>Environment</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="font-size:18px"><div style="width:64px; height:64px; background:url(../../Content/quizicon.png);display:inline-block"></div><div style="display:inline-block">Quiz</div> <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="~/Quiz/QuizCenter" style="font-size:12px"><i class="fa fa-file-text-o" aria-hidden="true"></i>Quiz Center</a></li>
                            <li><a href="~/Quiz/QuizPop" style="font-size:12px"><i class="fa fa-female" aria-hidden="true"></i>Population Quiz</a></li>
                            <li><a href="~/Quiz/QuizCul" style="font-size:12px"><i class="fa fa-flag" aria-hidden="true"></i>Culture Quiz</a></li>

                            <li><a href="~/Quiz/QuizEnv" style="font-size:12px"><i class="fa fa-bolt" aria-hidden="true"></i>Environment Quiz</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="font-size:18px"><div style="width:64px; height:64px; background:url(../../Content/gameicon.png);display:inline-block"></div><div style="display:inline-block">Game</div> <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="~/Game/GameCenter" style="font-size:12px"><i class="fa fa-gamepad" aria-hidden="true"></i>Game Center</a></li>
                            <li><a href="~/Game/MemoryGame" style="font-size:12px"><i class="fa fa-github-alt" aria-hidden="true"></i>Memory Game</a></li>
                            <li><a href="~/Game/Tangram" style="font-size:12px"><i class="fa fa-hand-o-up" aria-hidden="true"></i>Tangram Game</a></li>
                            <li><a href="~/Game/Capital" style="font-size:12px"><i class="fa fa-check-square-o" aria-hidden="true"></i>Answer Game</a></li>
                            <li><a href="~/Game/RecycleGame" style="font-size:12px"><i class="fa fa-recycle" aria-hidden="true"></i>Recycle Game</a></li>
                        </ul>
                    </li>

                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div id="home">

        <div id="holderofHolder" style="background-color:#29ba8e">
            <h1 style="font-family: 'Kaushan', cursive;font-size:48px;color:white">Answer Game</h1>
            <div id="holderOfStart" style="background-color:#4a63d4">

                <div class="start" style="cursor:pointer">Start</div>
            </div>
        </div>
    </div>
    <div id="game" style="background-color:#29ba8e">
        <h6 style="display:none;"></h6>
        <div id="score" class="gamedivs">
            <div id="passHolder"><div class="buttonScore" id="pass" style="cursor:pointer;">Pass</div></div>
            <div class="buttonScore" id="time" style="margin-left:7vh;margin-top:15vh;font-size:2vw;color:red;">Pass</div>
            <a href="~/Game/GameCenter"><div id="passHolder"><div class="buttonScore" id="pass" style="cursor:pointer;float:right">Back</div></div></a>
        </div>
        <div id="header" class="gamedivs">
            <div class="theCountry"></div>
            <img alt="country">
        </div>
        <div id="pholder" class="gamedivs">
            <div id="ppholder">
            </div>
        </div>
        <div id="buttholder" class="gamedivs">
            <div id="butttholder">
            </div>
        </div>
    </div>
    <div id="end" style="background-color:#29ba8e">

        <div class="results">
            <div id="accuracy"></div>
            <div id="wrong"></div><hr>
            <div class="hidd" id="fautes"></div>
            <div id="startagain" style="cursor:pointer">Try Again</div>
        </div>
        <!-- end of wrong -->
        <br>
        <!--start of right -->
        @*<div class="results">*@

        @*<div id="correct"></div>
            <div class="hidd" id="justes"></div>*@
        <!-- end of right -->
        @*<div id="accuracy"></div>
            </div>*@


    </div>
    <script src="~/Scripts/Capital.js"></script>



</body>