@{
    Layout = null;
    ViewBag.Title = "Home";
}




<head>

    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
    <link href="~/Content/NNNNN.css" rel="stylesheet" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.2/owl.carousel.min.js" type="text/javascript"></script>
    <link href="~/Content/homepage1.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" rel="stylesheet" />
    <link href="~/Content/topup.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>
    <title></title>
    <link href="~/Content/words.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Merienda" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rancho" rel="stylesheet">
    <link href="~/Content/deer.css" rel="stylesheet" />
    <link href="~/Content/homeback1.css" rel="stylesheet" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.2/owl.carousel.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.2/owl.theme.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.2/owl.transitions.min.css" rel="stylesheet" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/three.js/r70/three.min.js" type="text/javascript"></script>
    <script src=" https://s3-us-west-2.amazonaws.com/s.cdpn.io/264161/OrbitControls.js" type="text/javascript"></script>
    <script src=" https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.2/owl.carousel.min.js" type="text/javascript"></script>



</head>
<body style="overflow-x:hidden;">

    <header class="navigation">
    <div class="navigation-wrapper">
    <a href="javascript:void(0)" class="logo">
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">
    <i class="fa fa-2x fa-bars"></i>
    </a>
    <nav style="font-family: 'Merienda', cursive;">
    <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link scroll" >

            <img src="~/Content/title.png" style="margin-top:3vh"/>

        </li>
    <li class="nav-link scroll" >
    <a href="~/Home/Home" style="font-family: 'Merienda', cursive;">
    <img src="~/Content/homeicon.png" style="margin-top:12px" />

    Home
    </a>
    </li>
    <li class="nav-link scroll">
    <a href="#hero" style="font-family: 'Merienda', cursive;">
    <img src="~/Content/learningicon.png" />

    Learning
    </a>
    </li>
    <li class="nav-link scroll">
    <a href="#hero-box" style="font-family: 'Merienda', cursive;">
    <img src="~/Content/quizicon.png" />

    Quiz
    </a>
    </li>
    <li class="nav-link scroll">
    <a href="#slider" style="font-family: 'Merienda', cursive;">
    <img src="~/Content/gameicon.png" />

    Game
    </a>
    </li>
    <li class="nav-link scroll">
    <a href="#contact" style="font-family: 'Merienda', cursive;">
    <img src="~/Content/abouticon.png" />

    Contact
    </a>
    </li>
    </ul>
    </nav>
    </div>
    </header>
    <div style="background-image: url('../../Content/back3.png'); background-repeat: no-repeat;
    background-size: cover;">
        <div id="Clouds" style="z-index:99">
            <div class="Cloud1 Foreground"></div>
            <div class="Cloud Background" ></div>
            <div class="Cloud2 Foreground"></div>
            <div class="Cloud2 Background" ></div>
            <div class="Cloud6 Foreground" style="width:20%;height:20%"></div>
            <div class="Cloud5 Foreground" style="width:30%;height:30%"></div>
            <div class="Cloud Background"></div>
            <div class="Cloud Foreground"></div>
            <div class="Cloud Background"></div>
            <div class="Cloud Foreground"></div>



        </div> <a href="javascript:" id="top"><i class="icon-chevron-up"></i></a>
        <script src="~/Scripts/Topup.js"></script>
        <center>
 <button data-word='Melbourne, my home' class="button" style="width:30%;margin-top:15vh;margin-left:auto;font-size:0.8vw">
        </center>
        <div class="owl-carousel" style="display:none">
            <div class="parallax-window" >
                <div class="parallax-static-content" >
                    
                        <iframe  src="https://www.youtube.com/embed/QDQMUQqK4oM" allowfullscreen
                                style="width:33%; height:50%; border: 5px solid #d2e64a;"></iframe>
                </div>

            </div>
            <div class="parallax-window">
                <div class="parallax-static-content">
                    <b style="color:#d64040;font-family: 'Merienda', cursive;font-size:5vw
">Welcome!</b>
                </div>

            </div>
        </div>
    </div>
    <div style="margin-top:5vh; background-color: #16a085;">

        <div id="hero" class="wrapper">
            <center><a href="~/Pop/LearningCenter"><img src="~/Content/Read1.png" /></a></center>
            <h1 class="hero-text" style="font-family: 'Kaushan Script', cursive;">Learning</h1>

            <p id="header-text" style="font-family: 'Merienda', cursive;letter-spacing:2px;line-height:36px">
                Enjoy learning!You can learn three different kinds of content in our website!<br />
                Population,Cultural and environment.<br />
                After learning,you can try
                to use these knowledge in game and quiz module.
            </p>
        </div><br />

        <div class="wrapper">
            <div class="third">
                <i class="fa fa-3x fa-thumbs-o-up"></i><br />
                <p style="font-family: 'Merienda', cursive;">
                    Rich and high quality knowledge data collection.
                </p>
            </div>
            <div class="third">
                <i class="fa fa-3x fa-rocket"></i><br />
                <p style="font-family: 'Merienda', cursive;">
                    Diverse and interesting charts help improve learning efficiency.
                </p>
            </div>
            <div class="third">
                <i class="fa fa-3x fa-smile-o"></i><br />
                <p style="font-family: 'Merienda', cursive;">
                    Let the children have fun and enjoy the process.
                </p>
            </div>
        </div>

        <ul class="accordion-tabs-minimal wrapper" style="border:5px solid #d2e64a;margin-bottom:5vh">
            <li class="tab-header-and-content">
                <a href="#" class="tab-link is-active" style="font-family: 'Merienda', cursive;"><i class="fa fa-book" aria-hidden="true"></i>Overview</a>
                <div class="tab-content is-active">
                    <center>
                        <p style="font-family: 'Merienda', cursive;">
                            We will tell the story of how Melbourne has changed over the years
                            in population, culture, and environment.
                            <br />
                            There are lot of interesting chart,images,we even prepared a story book for you,do you want
                            to have a look？
                        </p>
                    </center>

                    <center><img src="~/Content/Learning1.png" /></center>
                    <a href="~/Pop/LearningCenter" style="text-decoration: none;color:white">
                        <center><h1 style="font-size:48px">Go</h1></center>
                        <center> <img src="~/Content/arrow.png" /></center>
                    </a>

                </div>
            </li>
            <li class="tab-header-and-content">
                <a href="#" class="tab-link" style="font-family: 'Merienda', cursive;"><i class="fa fa-user" aria-hidden="true"></i>Population</a>
                <div class="tab-content">
                    <center>
                        <p style="font-family: 'Merienda', cursive;">
                            
                            How many children in your age in Melbourne?<br />
                            Which suburb has the most population?<br /> How the population changed in Melbourne?<br />
                            … By reading through this module, you will know the answers.
                        </p>
                    </center>


                    <center><img src="~/Content/family.png" /></center>
                    <a href="~/Pop/PopOverview" style="text-decoration: none;color:white">
                        <center><h1 style="font-size:48px">Go</h1></center>
                        <center> <img src="~/Content/arrow.png" /></center>
                    </a>
                </div>
            </li>
            <li class="tab-header-and-content">
                <a href="#" class="tab-link" style="font-family: 'Merienda', cursive;"><i class="fa fa-globe" aria-hidden="true"></i>Culture</a>
                <div class="tab-content">
                    <center>
                        <p style="font-family: 'Merienda', cursive;">
                            Do you want to know which countries your friends are from?<br />
                            Do you want to know the stories and lifestyles in which you live?<br />
                            Do you want to know the different languages  in the world?<br />
                            Food, sights, interesting animals, you can find a lot of new things here. Start exploring now.
                        </p>
                    </center>

                    <center> <img src="~/Content/thanksgiving.png" /></center>
                    <a href="~/Culture/CulOverview" style="text-decoration: none;color:white">
                        <center><h1 style="font-size:48px">Go</h1></center>
                        <center> <img src="~/Content/arrow.png" /></center>
                    </a>
                </div>
            </li>
            <li class="tab-header-and-content">
                <a href="#" class="tab-link" style="font-family: 'Merienda', cursive;"><i class="fa fa-tree" aria-hidden="true"></i>Environment</a>
                <div class="tab-content">
                    <center>
                        <p style="font-family: 'Merienda', cursive;">
                            Do you know what is Environment?<br />
                            Do you know how to protect it?<br />

                            You can find some interesting vedio  <br />and see some related information
                            about tree,animal,bird here.
                        </p>
                    </center>
                    <center>
                        <img src="~/Content/Tree111.png" />
                    </center>
                    <a href="~/Pop/Environment" style="text-decoration: none;color:white">
                        <center>
                            <h1 style="font-size:48px">Go</h1>
                        </center>

                        <center> <img src="~/Content/arrow.png" /></center>
                    </a>
                </div>
            </li>
            <li class="tab-header-and-content" style="color:#ffffff;font-size:20px;font-family: 'Merienda', cursive;">&nbsp;&nbsp; Choose a topic left side then click the arrow below!!!</li>
</ul>
    </div>


    <div style="background-color:#d9f176;">
        <div id="hero-box" class="wrapper grid" style="margin-top:10vh;margin-bottom:10vh">

            <center>
                <a href="~/Quiz/QuizCenter" style="text-decoration: none; color:white">
                    <img src="~/Content/quiz1.png" />
                </a>
            </center>
            <div class="grid-items-lines" style="border:5px solid #ac3e56;text-decoration: none;">
                <a href="~/Quiz/QuizCenter" class="grid-item" style="text-decoration: none;">
                    <i class="fa fa-3x fa-file-text"></i>
                    <h1 style="font-family: 'Rancho', cursive;font-size:36px">Quiz Center</h1>
                    <p>Go to quiz center.</p>
                </a>
                <a href="~/Quiz/QuizPop" class="grid-item" style="text-decoration: none;">
                    <i class="fa fa-3x fa-users"></i>
                    <h1 style="font-family: 'Rancho', cursive;font-size:36px">Population Quiz</h1>
                    <p>Check your knowledge about population.</p>
                </a>
                <a href="~/Quiz/QuizCul" class="grid-item" style="text-decoration:none;">
                    <i class="fa fa-3x fa-cutlery"></i>
                    <h1 style="font-family: 'Rancho', cursive;font-size:36px">Culture Quiz</h1>
                    <p>Check your knowledge about Culture.</p>
                </a>
                <a href="~/Quiz/QuizEnv" class="grid-item" style="text-decoration: none;">
                    <i class="fa fa-3x fa-pagelines"></i>
                    <h1 style="font-family: 'Rancho', cursive;font-size:36px">Environment Quiz</h1>
                    <p>Check your knowledge about Environment.</p>
                </a>

                <div class="right-cover"></div>
                <div class="bottom-cover"></div>
            </div>
        </div>
    </div>
    <div style="background-color:#fb925c;">
        <div id="slider" class="wrapper" style="margin-top:10vh;margin-bottom:10vh">
            <center>
                <a href="~/Game/GameCenter">
                    <img src="~/Content/play1.png" />
                </a>
            </center>
            <h1 class="hero-text" style="font-family: 'Kaushan Script', cursive;">Game Center</h1>
        </div>
        <div class="wrapper owl-carousel-small" style="border:5px dotted #384ede">
            <div id="small-slider-item-1" class="slide">
                <a href="~/Game/MemoryGame">
                    <img src="~/Content/brain.png" />
                </a><br />
                <p style="color:white;font-family: 'Rancho', cursive;font-size:24px

">Try you best to find the same picture as quickly as you can!</p><br />
                                                                  <a href="~/Game/MemoryGame" style="text-decoration: none;">
                                                                      <p style="color:white;font-size:24px;font-family: 'Merienda', cursive;">
                                                                          Memory Game
                                                                      </p>
                                                                  </a>

</div>
            <div id="small-slider-item-2" class="slide">
                <a href="~/Game/Tangram">
                    <img src="~/Content/tangram.png" />
                </a><br />
                <p style="color:white;font-family: 'Rancho', cursive;font-size:24px

">Tangram Game!You can create anything you like!</p><br />
                                                    <a href="~/Game/Tangram" style="text-decoration: none;">
                                                        <p style="color:white;font-size:24px;font-family: 'Merienda', cursive;">
                                                            Tangram Game
                                                        </p>
                                                    </a>
            </div>
            <div id="small-slider-item-3" class="slide">
                <a href="~/Game/Capital">
                    <br />
                    <img src="~/Content/spell .jpg" />
                </a><p style="color:white;font-family: 'Rancho', cursive;font-size:24px

">Try to use your knowledge to answer the question!</p><br />
                                                       <a href="~/Game/Capital" style="text-decoration: none;">
                                                           <p style="color:white;font-size:24px;font-family: 'Merienda', cursive;">
                                                               Answer Game
                                                           </p>
                                                       </a>
            </div>
            <div id="small-slider-item-4" class="slide">
                <a href="~/Game/RecycleGame">
                    <br />
                    <img src="~/Content/trashbin.png" />
                </a> <p style="color:white;font-family: 'Rancho', cursive;font-size:24px

">Try to find correct trashbin!</p><br />
                                   <a href="~/Game/RecycleGame" style="text-decoration: none;">
                                       <p style="color:white;font-size:24px;font-family: 'Merienda', cursive;">
                                           Recycle Game
                                       </p>
                                   </a>
            </div>

        </div>
    </div>

    <div id="contact">
        <footer class="footer" role="contentinfo">



            <div class="third footer-links contact" style="">


                <center>
                    <div class="container" style="margin-bottom:5vh">
                        <div class="artboard">
                            <div class="deer">
                                <div class="rocking">
                                    <div class="head">
                                        <div class="horns">
                                            <div class="horn horn-left">
                                                <div class="line line-one"></div>
                                                <div class="line"></div>
                                                <div class="line line-three"></div>
                                            </div>
                                            <div class="horn horn-right">
                                                <div class="line line-one"></div>
                                                <div class="line"></div>
                                                <div class="line line-three"></div>
                                            </div>
                                        </div>
                                        <div class="ears">
                                            <div class="ear ear-left"></div>
                                            <div class="ear ear-right"></div>
                                        </div>
                                        <div class="eyes">
                                            <div class="eye eye-left"></div>
                                            <div class="eye eye-right"></div>
                                        </div>
                                        <div class="nose"></div>
                                    </div>
                                    <div class="body">
                                        <div class="shadow"></div>
                                        <div class="hooves">
                                            <div class="hoof-one">
                                                <div class="line"></div>
                                                <div class="anim-part">
                                                    <div class="circle">
                                                        <div class="circle">
                                                            <div class="circle">
                                                                <div class="circle">
                                                                    <div class="circle circle-last"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="hoof-two">
                                                <div class="line-one"></div>
                                                <div class="line-two"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tail">
                                        <div class="circle">
                                            <div class="circle">
                                                <div class="circle">
                                                    <div class="circle">
                                                        <div class="circle"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="legs">
                                    <div class="leg-left">
                                        <div class="anim-part">
                                            <div class="line"></div>
                                        </div>
                                    </div>
                                    <div class="leg-right">
                                        <div class="anim-part">
                                            <div class="circle">
                                                <div class="circle">
                                                    <div class="circle">
                                                        <div class="circle">
                                                            <div class="circle">
                                                                <div class="circle">
                                                                    <div class="circle">
                                                                        <div class="circle">
                                                                            <div class="circle circle-last"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="presents">
                                <div class="present present-one"></div>
                                <div class="present present-two"></div>
                                <div class="present present-two present-two-right"></div>
                                <div class="present present-three"></div>
                            </div>
                            <div class="snow"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                            <div class="snowflake"></div>
                        </div>
                        <center>
                            <br /><br />
                            <span style="font-family: 'Rancho', cursive;font-size:36px">Contact Us</span>
                        </center>
                        <center>
                            <ul>
                                <li>MelbourneMyhome</li>
                                <li>Exploring the chaging Melbourne</li>
                                <li>Australia, Victoria</li>
                                <li>E-mail:MelbourneMyhome@gmail.com</li>
                            </ul>
                        </center>
                    </div>
                </center>

          </div>
          

     


            <script src="~/Scripts/NNNNN.js"></script>

        </footer>
    </div>

</body>


