.center1 {
    text-align: center;
}

.center2 {
    text-align: center;
}

.center3 {
    text-align: center;
}

.center4 {
    text-align: center;
}

div.container1 {
    margin-bottom: 10px;
}

div.container2 {
    margin-bottom: 10px;
}

div.container3 {
    margin-bottom: 10px;
}

div.container4 {
    margin-bottom: 10px;
}
