@import url(https://fonts.googleapis.com/css?family=Ubuntu:700);


/* Active link */
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #0F6581;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 25px;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    color: #9D9D8C;
    background-color: transparent;
}
/*  Border radius For navbar */
.navbar {
    border-radius: 0px;
    min-width: 70px;
    max-height: 60px;
}
/* Manga 77 - Brand name */
.navbar-inverse .navbar-brand {
    color: #9D9D8C;
    font-size: 35px;
    line-height: 51px;
    height: 60px;
    padding: 6px;
    max-height: 60px;
}

.navbar-brand span {
    color: #0F6581;
}

.navbar-brand > a:hover {
    color: #0F6581;
}
/* Drop down-Menu */
.dropdown-menu {
    background-color: #333;
    border-top: 3px solid #0F6581;
}

.navbar-nav > li > a {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 17px;
}

.navbar-nav > li > .dropdown-menu {
    margin-top: 2px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.dropdown-menu > li > a {
    color: azure;
    -webkit-transition: padding 0.5s ease;
    -moz-transition: padding 0.5s ease;
    -o-transition: padding 0.5s ease;
    transition: padding 0.5s ease;
}
    /* Drop down Hover */
    .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
        background-color: #0F6581;
        color: #FFF;
        padding-left: 25px;
    }

.dropdown-menu .divider {
    background-color: #3D546C;
}

.navbar-right .dropdown-menu {
    right: auto;
    left: 0px;
}
/* Footer heart */
.fa {
    color: #D9534F;
}

footer {
    padding-top: 200px
}

.collapse navbar-collapse {
    max-height: 60px;
}
